body, html{
	height:100%;
	margin:0;
	font-size:16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}


.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6
{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*
   fixed = parallax
   scroll = normal
*/
	background-attachment: fixed;
}

.pimg1{
	background-image: url('images/map.png');
	min-height: 100%;
}

.pimg2{
	background-image: url('images/beach.jpg');
	min-height: 100%;
}

.pimg3{
	background-image: url('images/goan.jpg');
	min-height: 100%;
}
.pimg4{
	background-image: url('images/night-life.jpg');
	min-height: 100%;
}
.pimg5{
	background-image: url('images/galleries.jpg');
	min-height: 100%;
}
.pimg6{
	background-image: url('images/sports.jpg');
	min-height: 100%;
}
.section
{
	text-align: center;
	padding: 50px 80px;
}

.section-light
{
	background-color: #f4f4f4;
	color: #666;

}
.section-dark
{
	background-color: #2a2e34;
	color: #ddd;
}

.ptext
{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
    font-size: 37px;
    font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border
{ 
	background-color: rgb(131, 21, 21);
	color: #000;
	padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}


.logo{
    height: 80px;
    width: auto;
   margin-top: 25px;
    margin-left: 20px;
}
.main-nav{
    float: right;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 50px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 80%;
}
.main-nav li a:hover
{
    border-bottom: 3px solid black;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: beige;
  color: white;
}

